JMdict_Parser_xml.py
Kanjidic_Parser.py
data.txt
dataParser.py
dictionary-min.json
dictionary.json
git..py
index_old.html
jmdict-eng-3.6.1+20251201122749.json.zip
kanji.min.js
kanjidic2.xml
nb.txt
jmdict-eng-3.6.1.json
testpastepace.js
styleUX.html
htmltest.html
tree.py
tabbed_style.html
progressstyle.html